#contact_modal {
  display: none;
}

main {
  margin: 0 100px;
}

.photographer-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fafafa;
  height: 300px;
  padding: 0 40px;
}

.photographer-header img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.photographer-gallery {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.photographer-gallery article {
  margin: 20px 0;
  width: 26%;
  display: flex;
  flex-direction: column;
}

.photographer-gallery article img, .photographer-gallery article video {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 4px;
}

.photographer-gallery div {
  display: flex;
  justify-content: space-between;
  color: #901C1C;
}

/* La couleur du background donnée dans la maquette ne correspond pas à la couleur affichée */
.photographer-price {
  position: fixed;
  bottom: 0;
  right: 5%;
  display: flex;
  justify-content: space-between;
  padding: 8px 8px;
  background-color: #d47761;
  font-size: 24px;
  border-radius: 5px 5px 0 0;
  font-weight: 600;
}

.photographer-price span {
  margin: 0 24px;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}
